@import "./fonts.css";
@import "./normalize.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit";
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    width: 100vw;
    height: 800px;
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 320px;
    height: 497px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 25px 25px 0px #0000000C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card__img {
    background-color: blue;
}
.card__title {
    margin-top: 24px;
    margin-left: 16px;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color: #1F314F;
    width: 288px;
    height: 56px;

}
.card__description {
    margin-top:16px;
    margin-left: 16px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.19px;
    color: #7D889E;
    width: 256px;
    height: 57px;
    text-align: center;
}